// *  *  *  *  *  *  PLACEHOLDERS  *  *  *  *  *  * //

.clearfix {
  &:after {
    clear: both;
    display: block;
    content: '';
    height: 0;
    visibility: hidden;
  }

  // IE6
  * html & {
    zoom: 1;
  }

  // IE7
  *:first-child + html & {
    zoom: 1;
  }
}
