// *  *  *  *  *  *  PLACEHOLDERS  *  *  *  *  *  * //

.clearfix {
  &:after {
    clear: both;
    display: block;
    content: '';
    height: 0;
    visibility: hidden;
  }

  // IE6
  * html & {
    zoom: 1;
  }

  // IE7
  *:first-child + html & {
    zoom: 1;
  }
}

// .content-box-section {
//   background-color: #f4f4f4;
//   clear: both;
//   color: #666;
//   font-size: 14px;
//   overflow: hidden;
//   width: 100%;
// }
