// *  *  *  *  *  *  THEMES  *  *  *  *  *  * //

@mixin header-dark-theme {
  background-color: #313131;
  border: none;
}

@mixin header-light-theme {
  background-color: #f0f0f0;
  border-bottom: 2px solid #dadada;
}
