// *  *  *  *  *  *  VARIABLES  *  *  *  *  *  * //

$font-primary: 'Roboto', Helvetica, Arial, sans-serif;

$color-action: #fd473b;
$color-btn-red: #e91103;
$color-btn-red-hover: #fc1809;
$color-btn-green: #368200;
$color-btn-green-hover: #3D9400;
$color-input: #555;

$width-content-max: 1050;
$width-col-left: 63%;
$width-col-right: 32%;
$width-col-wide-max: $width-content-max * 1px;

$height-header: 50px;

$breakpoint-content-max: max-width 1010px;
$breakpoint-single-col: max-width 785px;
$breakpoint-mobile: max-width 575px;
