// *  *  *  *  *  *  HEADER PRIMARY  *  *  *  *  *  * //

.header-primary {
  @include header-dark-theme;
  display: block;
  -webkit-font-smoothing: subpixel-antialiased !important;
  height: $height-header;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-spacer {
  display: block;
  height: $height-header;
  width: 100%;
}

@import './_logo';
@import './_main-menu';
