// *  *  *  *  *  *  MAIN MENU  *  *  *  *  *  * //

$border-menu-item: 3px;

.main-menu {
  @include box-sizing(border-box);
  height: 100%;
}

  .main-menu-list {
    float: right;
    width: 555px;
  }

    .main-menu-item {
      display: block;
      float: left;
      overflow: hidden;
      text-align: right;
      text-transform: capitalize;
      white-space: nowrap;
      width: 25%;

      a {
        color: #fff;
        display: inline-block;
        font-size: 18px;
        letter-spacing: .3px;
        line-height: $height-header;
      }
    }

      .main-menu-cta {
        @include align-items(center);
        @include display-flex(inline-flex);
        float: right;
        height: $height-header;
        margin: 0 0 0 15px;
      }

        .main-menu-cta-btn {
          font-size: 16px;
          margin-left: auto;
        }

@include breakpoint($breakpoint-single-col) {
  .main-menu-list {
    display: none;
  }
}
