// *  *  *  *  *  *  HEADER SECONDARY  *  *  *  *  *  * //

.header-secondary {
  @include header-light-theme;
  clear: both;
  display: block;
  margin-bottom: 35px;
  width: 100%;
}

  .header-secondary-col {
    height: $height-header;
  }

@include breakpoint($breakpoint-mobile) {
  .header-secondary {
    @include header-dark-theme;
    padding: 0 12.5px;
  }
}

@import './_search-bar';
@import './_header-scene';

