// *  *  *  *  *  *  SEARCH BAR  *  *  *  *  *  * //

.search-form {
  @include align-items(center);
  @include display-flex(inline-flex);
  height: 100%;

  .search-button {
    &:before {
      color: #b0b0b0;
      font-size: 17px;
    }

    &:hover:before {
      color: #999;
    }
  }
}

  .search-text-box {
    border: 1px solid #dadada;
    line-height: 25px;
  }

@include breakpoint($breakpoint-mobile) {
  .search-form {
    width: 100%;
  }

    .search-text-box {
      background-color: #555;
      border: none;
      line-height: 28px;

      input[type="text"] {
        background-color: inherit;
        color: #b0b0b0;
        text-align: center;
      }
    }
      .search-button {
        &:before {
          color: #b0b0b0;
        }

        &:hover:before {
          color: #999;
        }
      }
}
