// *  *  *  *  *  *  HEADER USER  *  *  *  *  *  * //

.header-user {
  @include align-items(center);
  @include display-flex(inline-flex);
  font-size: 14px;
  height: $height-header;
  width: 100%;
}

  .header-username {
    color: #c2c2c2;
    display: inline-block;
    letter-spacing: .2px;
    line-height: $height-header;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }
