// *  *  *  *  *  *  HEADER SCENE  *  *  *  *  *  * //

.header-scene {
  line-height: $height-header;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  text-overflow: ellipsis;

  .icon:before {
    color: #666;
    margin-right: 3px;
  }

  strong {
    margin: 0 5px 0 2px;
  }

  a {
    color: #777;
    max-width: 200px;
    overflow: hidden;
  }
}

@include breakpoint($breakpoint-mobile) {
  .header-scene {
    display: none;
  }
}
