// *  *  *  *  *  *  CONTENT BOX  *  *  *  *  *  * //

.content-box {
  @include border-radius(3px);
  @include box-sizing(border-box);

  background-color: #fff;
  border: 1px solid #dadada;
  border-bottom-width: 2px;
  color: #333;
  clear: both;
  display: block;
  margin: 0 0 55px 0;
}

@include breakpoint($breakpoint-mobile) {
  .content-box {
    border-left: none;
    border-right: none;
  }
}
