// *  *  *  *  *  *  LAYOUT  *  *  *  *  *  * //

#react-root {
  height: 100%;
}

.inner-x,
.inner-y,
.mobile-inner-x, {
  @include box-sizing(border-box);
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.inner-x,
.mobile-inner-x {
  padding-left: 20px;
  padding-right: 20px;
}

.inner-y {
  padding-bottom: 20px;
  padding-top: 20px;
}

.wrapper {
  display: block;
  overflow: hidden;
}

@include breakpoint($breakpoint-mobile) {
  .mobile-inner-x {
    padding-left: 0;
    padding-right: 0;
  }
}
