// *  *  *  *  *  *  MOBILE MENU  *  *  *  *  *  * //

.mobile-menu {
  @include header-dark-theme;
  border-top: 2px solid #dadada;
  bottom: 0;
  display: none;
  line-height: 46px;
  position: fixed;
  width: 100%;
}

  .mobile-menu-item {
    display: block;
    float: left;
    font-size: 26px;
    text-align: center;
    width: 20%;

    a {
      display: block;
      color: #aaa;
    }
  }

@include breakpoint($breakpoint-mobile) {
  .mobile-menu {
    display: block;
  }
}
