// *  *  *  *  *  *  BUTTON  *  *  *  *  *  * //

.button {
  @include border-radius(2px);
  @include box-sizing(border-box);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family-primary;
  font-size: 15px;
  letter-spacing: .6px;
  line-height: normal;
  overflow: hidden;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  &.icon:before {
    font-size: initial;
    margin: 0 6px 0 0;
  }

  // Colored buttons
  &.red {
    background-color: $color-btn-red;

    &:hover,
    &:active {
      background-color: $color-btn-red-hover;
    }
  }

  &.green {
    background-color: $color-btn-green;

    &:hover,
    &:active {
      background-color: $color-btn-green-hover;
    }
  }
}
