// *  *  *  *  *  *  LAYOUT  *  *  *  *  *  * //

#react-root {
  height: 100%;
}

.inner-hor,
.inner-ver,
.mobile-inner-hor, {
  @include box-sizing(border-box);
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.inner-hor,
.mobile-inner-hor {
  padding-left: 20px;
  padding-right: 20px;
}

.inner-ver {
  padding-bottom: 20px;
  padding-top: 20px;
}

.wrapper {
  display: block;
  overflow: hidden;
}

@include breakpoint($breakpoint-mobile) {
  .mobile-inner-hor {
    padding-left: 0;
    padding-right: 0;
  }
}

// *  *  *  *  *  *  UTILITY  *  *  *  *  *  * //

.text-center {
  text-align: center;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.hide {
  display: none;
}

@include breakpoint($breakpoint-single-col) {
  .single-col-hide {
    display: none;
  }
}
