// *  *  *  *  *  *  MOBILE MENU  *  *  *  *  *  * //

.mobile-menu {
  @include header-dark-theme;
  bottom: 0;
  border-top: 1px solid #222;
  display: none;
  line-height: $height-header;
  position: fixed;
  width: 100%;
  z-index: 1;
}

  .mobile-menu-item {
    display: block;
    float: left;
    font-size: 26px;
    text-align: center;
    width: 20%;

    a {
      display: block;
      color: #aaa;
    }
  }

@include breakpoint($breakpoint-mobile) {
  .mobile-menu {
    display: block;
  }
}
