// *  *  *  *  *  *  NOT FOUND  *  *  *  *  *  * //

.not-found-page {
  padding: 50px 0 80px 0;
  text-align: center;
}

  .not-found-title {
    font-size: 55px;
    font-weight: 100;
    margin-bottom: 20px;
  }

  .not-found-img {
    display: block;
    margin: 0 auto 20px auto;
  }

  .not-found-msg {
    font-size: 18px;
  }
